@import "../_mixins.scss";

.app__wrapper {
  max-width: 1400px;
  width: auto;
  margin: 0 auto;
}
.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.contentStatus__wrapper {
  display: flex;
  justify-content: space-around;
}
.content__wrapper {
  background-color: var(--bg-2);
  padding: 2rem;
  width: 435px;
  border-radius: 12px;
  z-index: 0;
  @include smallDeviceSize {
    padding: 1.5rem;
  }
}
.emptyText {
  // display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--black-2);
  text-align: center;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: var(--gray-2);
  width: max-content;
  height: auto;
}

.icon {
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: var(--gray-1);
  color: var(--black-2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease background-color;
  &:hover {
    background-color: var(--gray-1);
  }
}

.todoStatus--new {
  background-color: var(--bg-4);
  &:hover {
    background-color: var(--bg-4);
  }
}

.todoStatus--pending {
  background-color: var(--bg-5);
  &:hover {
    background-color: var(--bg-5);
  }
}
.todoStatus--done {
  background-color: var(--bg-6);
  &:hover {
    background-color: var(--bg-6);
  }
}
